.gallery__like-button {
  display: block;
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.gallery__like-button:hover {
  opacity: 0.5;
}
