.profile__personality {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 24px;
  grid-template-rows: 1fr minmax(min-content, max-content);
  gap: 21px 18px;
}

@media screen and (max-width: 700px) {
  .profile__personality {
    grid-template-columns: minmax(min-content, max-content) 18px;
    gap: 14px 10px;
    justify-items: center;
    margin: 26px 0 36px;
  }
}
