.profile {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 50px;
  color: #fff;
  box-sizing: border-box;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 40px 27px 50px;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    gap: 14px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: 282px;
    grid-template-rows: 120px 1fr 50px;
    gap: 0;
    justify-content: center;
    justify-items: center;
    padding: 42px 0 36px;
  }
}